.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  :not(:last-child){
    margin-bottom: 5px;
  }

  .background {
    background: url('./images/banner.jpg');
    background-size: cover;
    min-height: 137px;
  }

  .nav-bar {
    text-align: right;
  }
}
